save_all_files.sh
restore_backup.sh
.env
.vscode/
venv/
fixtures/
# Ignore Python cache files
__pycache__/
*.py[cod]
mok_data_fixtures/initial_data.json
compose.yml
media/
fixtures/
init.sql
db.sqlite3
