/* Стили для таблицы учеников */
#students-table th:nth-child(1),
#students-table td:nth-child(1) {
    width: 40px;
    min-width: 40px;
    max-width: 80px;
}

/* Действия */
#students-table th:nth-child(2),
#students-table td:nth-child(2) {
    width: 50px;
    min-width: 50px;
    max-width: 150px;
    text-align: center;
}

/* ФИО */
#students-table th:nth-child(3),
#students-table td:nth-child(3) {
    width: 200px;
    min-width: 150px;
    max-width: 250px;
}

/* баланс */
#students-table th:nth-child(4),
#students-table td:nth-child(4) {
    width: 100px;
    min-width: 80px;
    max-width: 150px;
}

/* Телефон */
#students-table th:nth-child(5),
#students-table td:nth-child(5) {
    width: 120px;
    min-width: 100px;
    max-width: 150px;
}

/* Родитель */
#students-table th:nth-child(6),
#students-table td:nth-child(6) {
    width: 150px;
    min-width: 120px;
    max-width: 180px;
}

/* Смена */
#students-table th:nth-child(7),
#students-table td:nth-child(7) {
    width: 120px;
    min-width: 100px;
    max-width: 150px;
}

/* Отряд */
#students-table th:nth-child(8),
#students-table td:nth-child(8) {
    width: 50px;
    min-width: 50px;
    max-width: 100px;
}

/* Филиал */
#students-table th:nth-child(9),
#students-table td:nth-child(9) {
    width: 100px;
    min-width: 100px;
    max-width: 150px;
}

/* Тип посещения */
#students-table th:nth-child(10),
#students-table td:nth-child(10) {
    width: 130px;
    min-width: 110px;
    max-width: 160px;
}

/* Цена */
#students-table th:nth-child(11),
#students-table td:nth-child(11) {
    width: 100px;
    min-width: 120px;
    max-width: 140px;
    text-align: right;
}

/* Комментарий к цене */
#students-table th:nth-child(12),
#students-table td:nth-child(12) {
    width: 150px;
    min-width: 120px;
    max-width: 200px;
}

/* Стили для истории баланса */
#balance-history-table {
    font-size: 0.875rem;
}

#balance-history-table th,
#balance-history-table td {
    padding: 0.5rem;
}

.nav-tabs .nav-link {
    color: #6c757d;
    font-weight: 500;
}

.nav-tabs .nav-link.active {
    color: #0d6efd;
    font-weight: 600;
}