{% extends 'base.html' %}

{% block content %}
<h1>Сотрудники</h1>
<a href="{% url 'employee_create' %}" class="btn btn-success mb-3">Добавить сотрудника</a>
<a href="{% url 'employee_attendance_list' %}" class="btn btn-success mb-3">Посещения сотрудников</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Филиал</th>
            <th>Смена</th>
            <th>Ставка за день</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.id }}</td>
            <td>{{ employee.full_name }}</td>
            <td>{{ employee.get_position_display }}</td>
            <td>{{ employee.branch }}</td>
            <td>{{ employee.schedule }}</td>
            <td>{{ employee.rate_per_day }}</td>
            <td>
                <a href="{% url 'employee_edit' employee.pk %}" class="btn btn-sm btn-primary">Редактировать</a>
                <a href="{% url 'employee_delete' employee.pk %}" class="btn btn-sm btn-danger">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}


